@model WebOlayaDigital.Models.DetailResponse

@{
    ViewData["Title"] = Model.Data.Name;
    Layout = "~/Views/Shared/_Details.cshtml";
    string mensaje = ViewBag.Error;
    List<string> roles = (List<string>)ViewBag.Roles;
}

<div class="mt-5"></div>
<div class="main main-raised mt-5">
    <div class="container">
        <div class="section section-contacts">
            <div class="container text-center">

                @if(@Model.Data.Media.Where(x => x.Cover).Count() > 0){
                    <img class="img-fluid" src="~/img/publicaciones/@Model.Data.Media.Where(x => x.Cover).FirstOrDefault().Route" target="_blank" alt="@Model.Data.Name" height="50%">
                    <figcaption class="figure-caption">Autor. @Model.Data.Name, email: @Model.Data.Email </figcaption>
                }

            </div>
            <div class="container text-center mt-3">
                <h1>@Model.Data.Tittle</h1>
            </div>
            <p class="mt-3"> @Model.Data.Description </p>
        </div>

        @if (roles != null && roles.Where(x => x == "Admin" || x == "SuperAdmin").ToList().Count > 0)
        {
            <div class="section section-contacts">
                <div class="mb-3">
                    <form class="mt-5" asp-action="Galleries" enctype="multipart/form-data" asp-controller="Home" method="post">
                        <input type="hidden" name="idPost" value="@Model.Data.IdPost" />
                        <div class="form-group form-file-upload form-file-simple">
                            <label for="formFile" class="form-label">Crear galeria de fotos</label>
                            <input class="form-control" type="file" name="formFile" id="formFile" accept="image/png, image/jpeg, image/jpg" multiple />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>

                    </form>
                </div>
            </div>
        }

        <div class="section section-contacts">
            <div class="container text-center mt-3">
                <h3>Galeria de fotografia</h3>
            </div>

            <div class="container">
                <div class="row">

                    @foreach (var item in Model.Data.Media.Where(x => !x.Cover))
                    {
                        <div class="col-sm">
                            <img class="img-fluid" src="~/img/publicaciones/@item.Route" alt="@Model.Data.Name" height="50%">
                        </div>
                    }
                </div>
            </div>

        </div>

        @if (!string.IsNullOrEmpty(mensaje))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Advertencia!</strong> @mensaje
            </div>
        }


        @if (Model.Data.Comments.Count == 0)
        {
            <div class="container mt-5">
                <p class="mt-5">Actualmente no se tiene comentarios</p>
            </div>
        }
        else
        {
            <div class="section section-contacts">
                <div class="container text-center mt-3">
                    <h3>Comentarios</h3>
                </div>

                <div class="container">

                    @foreach (var comment in Model.Data.Comments)
                    {
                        <div class="row">
                            <div class="container">
                                <small class="m-2">@comment.CommentUser</small>
                                <p>@comment.Description</p>
                            </div>
                        </div>
                        <hr />
                    }

                </div>

            </div>
        }

        @if (roles.Where(x => x == "Admin" || x == "SuperAdmin" || x == "UserApp").ToList().Count > 0)
        {
            <div class="section section-contacts">
                <div class="container text-center mt-3">
                    <h3>Agregar comentario</h3>
                </div>
                <div>
                    <div class="mb-3">
                        <form class="mt-5" asp-action="Comment" asp-controller="Home" method="post">
                            <input type="hidden" name="idPost" value="@Model.Data.IdPost" />
                            <input type="hidden" name="idUser" value="@Model.IdUserCurrents" />

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group input-group-outline my-3">
                                        <textarea class="form-control" name="comment" id="comment"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Crear" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }

    </div>

    @if (roles != null && roles.Where(x => x == "Admin" || x == "SuperAdmin").ToList().Count > 0)
    {
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-primary" asp-action="UpdatePost" asp-controller="Admin" asp-route-postId="@Model.Data.IdPost">Actualizar</a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-dark" asp-action="DisablePost" asp-controller="Admin" asp-route-postId="@Model.Data.IdPost">Desactivar</a>
                </div>
            </div>
        </div>
    }

    <br />
    <br />
</div>

